@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}

main {
  padding: 70px 30px;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  width: 100%;
  margin-right: 0 !important;
}

.navbar-start {
  margin-left: 15px;
}

/* loading Bar */

#progress-bar {
  width: 100%;
  height: 5px;
  background-color: #485fc7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#progress-bar .bar {
  width: 0%;
  background-color: #ffffff;
  height: 100%;
}

/* loading  */

.loader-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loader-container2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: none;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.three-body2 {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #5d3fd3;
  position: relative;
  display: none;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

/* carousel  */
.carousel-container {
  position: relative;
  height: 100%;
  max-height: 50%;
  margin: 0;
  padding: 0;
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.swiper-slide-active {
  display: flex;
  height: 100vh;
}

.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: "";
  background: #12131a;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  mix-blend-mode: multiply;
}

.swiper-slide.overlay.swiper-slide-active,
.swiper-slide.overlay.swiper-slide {
  height: auto;
}

.swiper-slide.overlay.swiper-slide-active img {
  position: relative;
  display: block;
  width: 100%;
  height: 78vh;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f3f3f4 !important ;
  z-index: 5;
}

.swiper-scrollbar {
  background: #485fc7 !important;
}
.swiper-scrollbar-drag {
  background: #98abff !important;
}

.carousel-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 32px;
  flex-wrap: wrap;
}

.carousel-leftDiv {
  position: relative;
}

.imageLeftDiv {
  border: 4px solid #98abff;
  border-radius: 15px;
}

.imageLeftDiv img {
  border-radius: 9px;
  object-fit: cover !important;
  height: 435px !important;
}

.carousel-leftDiv p {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 16px;
  color: white;
  background: #485fc7;
  border-radius: 0 0 0 9px;
  padding: 8px;
  text-align: center;
}

.carousel-rightDiv {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel_description {
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.typeAnime {
  font-weight: 300;
  max-width: 850px;
  color: white !important;
}

.button_carousel {
  font-weight: 600;
  font-size: 18px !important;
}
.carousel_text {
  position: absolute;
  color: #ffffff;
  z-index: 2;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  border: solid 1px #485fc7;
  background: #485fc7 !important;
  padding: 20px;
  border-radius: 4px;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* searchbar  */
.group {
  display: flex;
  flex-direction: row;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 350px;
  width: 100%;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #3f3f3f !important;
  padding-left: 40px !important;
  transition: 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
.input:hover {
  outline: none !important;
  border-color: #485fc7 !important;
  background-color: #fff;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  z-index: 1;
  width: 1rem !important;
  height: 1rem !important;
}

/* next/prev page  */
.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.button.is-link.is-outlined {
  width: 140px;
  font-size: 18px;
}
.button.is-link.is-outlined:hover {
  font-weight: 600;
  transition: ease-in-out 0.3s;
}

.subheading {
  display: none;
  font-size: 28px;
  margin: 0 auto 50px auto;
  font-weight: 700;
  color: #485fc7;
  text-align: center;
  position: relative;
  max-width: fit-content;
}

.subheading::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 23px;
  height: 1px;
  border: solid 3px rgb(152, 171, 255);
  background: #98abff;
  left: -22px;
  top: 24px;
  margin: -6px;
  transform: rotate(90deg);
}

/* anime grid layout  */

.card_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  background: transparent !important;
  border-radius: 100px !important;
  box-shadow: none !important;
}
.img_card {
  width: 100%;
  object-fit: cover;
  object-position: top center;
  cursor: pointer;
}
.img_card:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.06);
}

.image.is-4by3 {
  padding-top: 130% !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.recent-episode-container {
  position: absolute;
  top: 15px;
  z-index: 1;
  right: 0px;
  color: white;
  background: #485fc7;
  text-align: center;
  padding: 8px;
  border-radius: 0 0 0 9px;
  font-size: 14px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  background-color: transparent !important;
  text-align: center;
  padding: 10px !important;
}

.notification.is-link p {
  font-weight: 500;
  font-size: 14px;
  color: #3f3f3f;
  width: 100%;
}

#scrollToTop {
  position: relative;
  bottom: 52px;
  left: -38px;
  width: 50px;
  display: flex;
  justify-content: end;
  margin-left: auto;
}

#scrollToTop:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-8px);
}

@media screen and (max-width: 1020px) {
  .navbar.is-link {
    position: relative !important;
    right: 0;
    z-index: 30;
    width: 100%;
  }

  .carousel-container {
    height: 100%;
  }

  .btn-container {
    margin-top: 80px;
  }

  .subheading {
    margin: 50px 20px;
  }

  .swiper-slide img {
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: white !important ;
  }

  .card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .image.is-4by3 {
    padding-top: 147% !important;
  }

  .notification.is-link {
    padding: 10px;
  }

  .container.is-fullhd {
    width: auto;
    font-size: 14px;
    padding: 0 10px;
  }

  .carousel_text {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 26.5px !important;
  }

  .navbar-item p,
  .button.is-link strong,
  .nav-mobile-active a {
    font-size: 24px;
    font-weight: 600 !important;
  }

  .button.is-light {
    height: 49px;
  }

  .input,
  .textarea {
    height: 48px !important;
  }

  .group {
    width: 90%;
  }

  main {
    padding: 20px;
  }

  .carousel-container {
    height: 100vh;
  }

  .swiper-slide.overlay.swiper-slide-active {
    width: 100%;
  }

  .swiper-slide.overlay.swiper-slide-active img {
    height: 100%;
    object-fit: cover;
  }

  .carousel-wrapper {
    justify-content: center;
    gap: 20px;
    top: 68px;
  }

  .carousel-leftDiv {
    width: 95%;
  }

  .carousel-rightDiv {
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
  }

  .button.is-link {
    width: 82%;
  }

  .carousel_text {
    font-size: 20px;
    font-weight: 600;
    width: 92%;
  }

  .carousel_description {
    font-size: 20px;
  }

  .autoplay-progress {
    right: 15px !important;
    bottom: 9px !important;
    background: #485fc7;
    display: none;
    z-index: 3;
  }

  .btn-container {
    justify-content: center;
    margin: 30px 0;
  }

  .subheading {
    font-size: 25px;
  }

  .subheading::before {
    left: -18px;
    top: 22px;
  }

  .card_wrapper {
    gap: 15px;
  }

  .image.is-4by3 {
    padding-top: 160% !important;
  }

  .notification {
    > p {
      font-size: 11px;
    }
  }

  #scrollToTop {
    bottom: 19px;
    left: -23px;
    width: 31px;
    height: 26px;
    z-index: 30;
  }
}
