
.footer {
    display: none;
    position: relative;
    bottom: 0;
    width: 100%;
    background:lavender;
    color: black
  }
  
  footer strong,
  footer a {
    color: black !important;
    text-decoration: underline;
  }
  